* {
  box-sizing: border-box;
}

*::selection {
  background-color: #FF7043;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 12px;
  opacity: 50%;
}

::-webkit-scrollbar-track {
  background-color: #FF7043;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #FF7043;
}

.container {
  display: block;
  height: 100%;
  width: 100%;
}

#app-window {
  display: block;
  max-width: 60%;
  margin: 0 auto;
  padding-bottom: 90px;
}

.window {
  display: block;
  background-color: white;
  margin: 50px auto -40px;
  border-radius: 2px;
}
.window p {
  margin: 10px 10px;
  padding-bottom: 6px;
  font-family: "Russo One";
  font-weight: bold;
  font-size: 1.1rem;
  width: auto;
  float: left;
}
.window .editIcon {
  margin: 6px 0px 10px 0px;
  padding-bottom: 3px;
}
.window .previewIcon {
  margin: 8px 0px 10px 0px;
  padding-bottom: 3px;
}
.window .expandIcon {
  margin: 6px 10px 0px 0px;
  padding-bottom: 3px;
  float: right;
}
.window .shrinkIcon {
  margin: 6px 10px 0px 0px;
  padding-bottom: 3px;
  float: right;
}
.window .divider {
  height: 3px;
  background-color: black;
  margin: -10px 10px;
}

#editor-window {
  width: 70%;
}
#editor-window textarea {
  background-color: white;
  font-family: "Courier";
  width: 99%;
  padding: 5px 10px;
  border: 0;
  outline: none;
  overflow: auto;
  resize: vertical;
  min-height: 80px;
  font-weight: 600;
}

textarea::-webkit-scrollbar-track {
  background-color: white;
}

#preview-window {
  width: 100%;
}

#preview {
  background-color: white;
  min-height: 800px;
  overflow: hidden;
  border-radius: 2px;
}
#preview #preview-text {
  font-family: "Courier";
  padding: 5px 10px;
  width: 99%;
  font-weight: 600;
  font-size: 0.95rem;
}
#preview ::-webkit-scrollbar-track {
  background-color: white;
}